table, th, td {
    border: 1px solid white;
    zoom: 2;
}
td.t01 {
    background: #A2BA5C;
    width: 30px;
    height: 40px;
}
td.t02 {
    background: #db2b2b;
    width: 48px;
}
td.t03 {
    background: #376fe7;
    width: 15px;
    height: 10px;
}

OL { 
    counter-reset: item;
}
OL>LI { 
    display: block;
}
OL>LI::before { 
    content: counters(item, ".") " "; 
    counter-increment: item; 
}
.h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}